<div class="container">
	<h1><span class="glyphicon glyphicon-search"></span> About</h1>
	<hr class="featurette-divider">
	<h2 class="hiw-heading"><small class="lead">Our recipe for helping top companies acquire and develop world class human capital has 3 simple ingredients:</small></h2><br>
	<div class="row about-feature">
		<div class="col-lg-2">
	        <%= image_tag "badges.001.png", alt: "image 1", class: "img-circle" %>
	    </div>
	    <div class="col-lg-10">
	    	<h2>Science</h2>
	    	<hr class="featurette-divider">
	        <p>First we are obsessed with using  Psychological Science to help companies significantly improve productivity and capability through the development of human capital.  </p><br><br>
	    </div>
	</div>

	<div class="row about-feature">
	    <div class="col-lg-2">
	        <%= image_tag "badges.002.png", alt: "image 1", class: "img-circle" %>
	    </div>
	    <div class="col-lg-10">
	    	<h2>Technology</h2>
	    	<hr class="featurette-divider">
	        <p>Second we utilise the latest technology to transfer that science into practical applications that deliver value and new capabilities for our customers.</p><br><br>
	    </div>
	</div>


	<div class="row">
	    <div class="col-lg-2">
	        <%= image_tag "badges.003.png", alt: "image 1", class: "img-circle" %>
	    </div>
	    <div class="col-lg-10">
	    	<h2>Culture</h2>
	    	<hr class="featurette-divider">
	        <p>And thirdly none of this is possible without the development of a strong Quanegy culture. The following are the core values that we work by: </p>
	        <ol start="1">
	        	<li>Test and improve relentlessly</li>
	        	<li>Do more with less</li>
	        	<li>Deliver WOW through service</li>
	        	<li>Embrace and drive change</li>
	        	<li>Stay flexable and maintain the capability to adapt rapidly</li>
	        	<li>Sustainability</li>
	        	<li>Pursue learning and growth constantly</li>
	        	<li>Treat others like they are you living another live</li>
	        </ol>
	    </div>
	</div>
	<hr class="featurette-divider">
</div>
