<div class="container">
			<h1><span class="glyphicon glyphicon-search"></span> About</h1>
			<hr class="featurette-divider">
			<h2 class="hiw-heading"><span class="lead">Quanegy is about helping companies selling big ticket products and services increase their sales revenue. Our recipe for helping top companies acquire and develop high value customers has 3 simple ingredients:</span></h2><br>
			<div class="row about-feature">
				<div class="col-lg-2">
			        <%= image_tag "qabout.001.png", alt: "image 1", class: "img-circle" %>
			    </div>
			    <div class="col-lg-10">
			    	<h2>Science</h2>
			    	<hr class="featurette-divider">
			        <p>First we are obsessed with Psychological Science and business research and the implications it has for helping companies significantly improve customer acquisition through the development of more effective sales, marketing and customer service best practices.</p><br><br>
			    </div>
			</div>

			<div class="row about-feature">
			    <div class="col-lg-2">
			        <%= image_tag "qabout.002.png", alt: "image 1", class: "img-circle" %>
			    </div>
			    <div class="col-lg-10">
			    	<h2>Technology</h2>
			    	<hr class="featurette-divider">
			        <p>Second we utilise the latest technology to transfer the science into practical applications, systems and processes that deliver value and new capabilities for our customers. With the constant innovation of applications, systems and processes for customer aquisition we are constantly developing and testing with the latest available technology.</p><br><br>
			    </div>
			</div>


			<div class="row">
			    <div class="col-lg-2">
			        <%= image_tag "qabout.003.png", alt: "image 1", class: "img-circle" %>
			    </div>
			    <div class="col-lg-10">
			    	<h2>Culture</h2>
			    	<hr class="featurette-divider">
			        <p>And thirdly none of this is possible without the development of a strong Quanegy culture. The following are the core values that we work by: </p>
			        <ol start="1">
			        	<li>Test and improve relentlessly</li>
			        	<li>Do more with less</li>
			        	<li>Deliver WOW through service</li>
			        	<li>Embrace and drive change</li>
			        	<li>Stay flexable and maintain the capability to adapt rapidly</li>
			        	<li>Sustainability</li>
			        	<li>Pursue learning and growth constantly</li>
			        </ol>
			    </div>
			</div>
			<hr class="featurette-divider">
		</div>