<div class="container">
	<h1><span class="glyphicon glyphicon-envelope"></span> Contact</h1>
	<hr class="featurette-divider">
	<p>Please don't hesitate to be in touch with any of your thoughts, ideas or criticisms. Email us at info 'at' Quanegy.com</p><br><br>
</div>
