<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Gain 30% + in sales by fixing your customer acquisition pipeline!</h1>
    <p class="lead">70% of established businesses have problems with their acquisition pipeline which if fixed increase conversions by an average of 30% AND increase average sale value by as much as 49%</p>
    <div class="flex-video widescreen span10 offset1">
	    <div>
	    	<iframe width="853" height="480" src="//www.youtube.com/embed/eN8nDVGfdZM" frameborder="0" allowfullscreen></iframe>
	    </div>	
    </div>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
</div>

  <!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
      <h2>Business Pipeline Self Evaluation Tool</h2>
      <p>Customer Acquisition Pipeline self evaluation tool. How healthy is your pipeline? </p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Avoid Unsustainable Marketing Tactics</h2>
      <p>Free checklist to avoid common online marketing tactics that will hurt your business in the long term.</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Business Growth Blueprinting</h2>
      <p>An intro to simple business growth practices used by innovative fast growing companies.</p>
      <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>